@import 'normalize';


.app {
	margin: auto;
	width: 1300px;
	height: 100vh;
	background-color: #ccc;


}

.main-aside {
	display: flex;
	flex-wrap: wrap;
	aside {
		display: flex;
		flex-direction: column;
	}
}