@import 'normalize';

$noma-font: 'Dosis', sans-serif, helvetica, arial;

* {	
	box-sizing: border-box;

	// border: 1px solid red;
}

.app {
	position: relative;
	margin: auto;
	width: 1200px;
	background-color: #ccc;
}


header{
	display: flex;
	justify-content: space-between;
	font-family: $noma-font;
	height: 100px;


	.logo{
		font-size: 4em;
		padding-left:15px;

	.socialicons{
		// padding: 20px;
		

		}
	}
}


.hero {
	width: 100%;
	// display: flex;
	// justify-content: center;
	img{
		width: 100%;
		height: 600px;

	}
}



main{

	display: flex;
	justify-content:space-between;
	margin:15px;
}



.blog {
	width: 350px;

}


.specials {
	width: 350px;

}


.specials img{
	width: 100%;

}

#map {
	height: 200px;
	width: 250px;
}

// .map img{
// 	width: 100%;

// }


.main-aside {
	
	display: flex;
	justify-content: space-between;
	// flex-wrap: wrap;
	.tab-wrapper {
		border: 1px solid #ccc;
		padding: 15px;
		width: 100%;
		display: flex;
		.story {
			img{
				width:100%;
			}
		}
	}
}

.tab-container {
	.tab {
		position: absolute;
		left: 20px;
		width: 64%;
	}
	&.hide {
		.tab {
			position: absolute;
			display: none;
		}
	}
}

aside {
		// width: 35%;
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			//img size may change//
			margin: 10px 10px 10px 0px;
			width: 380px;
		}
	}
