@import 'normalize';

* {	
	box-sizing: border-box;

	// border: 1px solid red;
}



.app {
	margin: auto;
	width: 1300px;
	height: 100vh;
	background-color: #ccc;
}


header{
	display: flex;
	justify-content: space-between;


	.logo{


	.socialicons{
		

		}
	}
}






.hero {
	width: 100%;
	img{
		width: 100%;
	}
}



main{
	display: flex;
	justify-content:space-between;
	margin:15px;


}



.blog {
	width: 350px;

}


.specials {
	width: 350px;

}


.specials img{
	width: 100%;

}

.map {
	width: 350px;

}


.map img{
	width: 100%;

}


.main-aside {
	
	display: flex;
	justify-content: space-between;
	// flex-wrap: wrap;
	.tab-wrapper {
		overflow: hidden;
		border: 1px solid #ccc;
		padding: 15px;
		width: 900px;
		display: flex;
		.story {
			// background: orange;
			img{
				width:100%;
			}
		}
	}
}

.tab {
	background: white;
}

.tab-container {
	&.hide {
		.tab {
			display: none;
		}
	}
}

aside {
		width: 390px;
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			//img size may change//
			width: 380px;
		}
	}



